.title {
  font-size: var(--page-title-font-size);
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 70px;
}

.loading {
  position: absolute;
  top:50px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  opacity: 0.5;
}
