:root {
  --background-color: #f2f2f2;
  --primary-color: #009688;
  --accent-color: #94c720;
  --warn-color: #cd0d38;
  --text-color: #404040;
  --header-text-color: #8d8d8d;

  --page-title-font-size: 48px;
  --section-font-size: 24px;
}
