.header {
  display: flex;
  position: sticky;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50px;
  background-color: #fff;
  top: 0;
  left: 0;
  color: var(--header-text-color);
  overflow: hidden;
  z-index: 10;
}

.headerContent {
  display: flex;
  align-items: center;
  max-width: 1000px;
  width: 1000px;
}

.content {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: calc(100vh - 120px);
  padding-top: 20px;
  text-align: left;
  margin-bottom: 50px;
  background-color: var(--background-color);
}
